* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.7;
    color: $text-color;
    background: $background-hover-color;
  }
  
  .container {
    max-width: 1170px;
    margin: 15px;
    padding: 30px 15px;
    background: $nav-text-color;
    border-bottom: 1px solid $background-hover-color;
    border-radius: 4px;

  }
  
  .container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
  @mixin grid($prefix) {
    @for $i from 1 through 12 {
      .col-#{$prefix}-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
  }
  @media(max-width: 767px) {
    @include grid('sm');
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }


