/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$link-color: #56819F;
$checked-color: #04AE00;
$positive-notification-color: #69CC9B;
$positive-notification-hover-color: #74B67A;
$negative-notification-color: #EC7171;
$negative-notification-hover-color: #DE5252;
$main-color: #F58220;
$main-hover-color: #FFA200;
$text-color: #979797;
$nav-text-color: white;
$background-hover-color: #F5F5F2;
$btn-disabled-color: #E3E3E3;
$header-border-color: #E3E3E3;
$border-color: #E3E3E3;





/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Cookie',
cursive;
$paragraph-font: "Open Sans",
Helvetica,
Arial;
$text-font: "Open Sans",
Helvetica,
Arial;

.section-title {
  padding: 0 10pxm;
  margin: 0 10px;
  text-align: left;

}

hr {
  border: 1px solid $background-hover-color;
}

.btn {
  background: $main-color;
  color: $nav-text-color;
  border-color: $main-color;
  border-radius: 4px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 7px;
  text-decoration: none;
  text-align: center;

  & svg path {
    fill: $nav-text-color;

  }

  &:hover {
    background: $text-color;
    border-color: $text-color;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid $border-color;
  outline: none;
}

input[type="range"] {
  border: 1px solid $border-color;
  outline: none;
}

​a:visited,
a:hover {
  text-decoration: none;
  color: $main-hover-color;
}

a {
  text-decoration: none;
  color: $link-color;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid $border-color;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  display: block;
  border-radius: 0;
}
nav svg {
  width: 15px;
}