/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$link-color: #56819F;
$checked-color: #04AE00;
$positive-notification-color: #69CC9B;
$positive-notification-hover-color: #74B67A;
$negative-notification-color: #EC7171;
$negative-notification-hover-color: #DE5252;
$main-color: #F58220;
$main-hover-color: #FFA200;
$text-color: #979797;
$background-color: white;
$background-hover-color: #F5F5F2;
$btn-disabled-color: #E3E3E3;





/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$text-font: "Open Sans", Helvetica, Arial;