.general-form {
    text-align: center;
}

.statistic-col {
    text-align: left;
    border-bottom: 1px solid $text-color;

}
.statistic-value {
    text-align: right;
    border-bottom: 1px solid $text-color;

}