header {
    padding-left: 200px;
}
.header-col {
    border: 0.5px solid $text-color;
    background: white;
    width: 100%;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    line-height: 0;
    color: $text-color;
    & a {
        line-height: 20px;  
        color: $link-color;

    }    
}
.header-col svg path, .header-col svg polygon{
    fill: $text-color; 
  }

.col-arrow{
    padding-top: 10px;
}

