nav {
    position: fixed;  

}
.nav-col {
    background-color: $paragraph-color;
    display: flex;
    width:100%;
    display: block;
    margin: 0;
    padding: 10px 0px;
    color: $nav-text-color;
    font-size: 14px;

}
.nav-elem svg path{
  fill: $text-color; 
}
.nav-elem {
    height: 100%;
    margin: 10px;
    padding: 0px;    

}
.nav-col a p{
    color: $text-color;
    transform: translate(0, -5px);

}

.brand-text {
    font-family: $brand-font;
    font-size: 24px;
    color: $nav-text-color;
    padding-left: 20px;
    margin: 0;
    transform: translate(0, -10px);
    text-align: left
}
ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
}
li {
    text-align: left;
    height: 40px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    &::after{
        position: absolute;
        content: '';
        width: 5px;
        height: 40px;
        background-color: #f6b93b;
        z-index: 1;
        transform: translate(0, -50px);
        display: none;
    }
    &:hover {
        background-color: lighten($paragraph-color, 20%); 
        & p{
            color: white;
            & svg path{
                fill: white; 
              }

        } 
        &::after{
            display: block;
        }
    }
}

​a:visited, a:link, a:hover
{
    text-decoration: none;
    color: $text-color;
}
.nav-col hr {
    border: 1px solid $text-color;
}

@media(max-width: 767px) {
    .sidebar{
        display: none;
    }
    .nav-col {
        height: 50px;
    }
    nav {
        width: 100%; 
    }
    section { 
        padding-left: 0px;
        
  }

}
  
  @media(min-width: 768px) {
    .sidebar{
        display: block;
    }
    .nav-col {
        height: 100vh;
    }
    nav {
        width:220px; 
    }
    section { 
        padding-left: 220px;
        
  }
  }